
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin</h1>
<a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminMovies" asp-action="Index">Quan Ly Movies</a>
<a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminAccount" asp-action="Index">Quan Ly Account</a>


