<ul class="dropdown-menu">
    <li>
        <a href="basic-table.html">Quan ly Danh Muc</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="AdminAccounts" asp-Action="Index">Quan ly Quyen Tai Khoan</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="AdminRoles" asp-Action="Index">Quan ly Quyen Truy Cap</a>
    </li>
    <li>
        <a href="data-table.html">Quan ly Quyen Tinh Thanh</a>
    </li>

</ul>